@model PaginatedResponse<FeatureResponse>
@{
  ViewData["Title"] = "Index";
  var order = (Model.PageIndex - 1) * Model.PageSize;
}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="card-title d-inline">Features</h4>
            <a asp-action="Create" class="btn btn-primary mb-2">Create</a>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr d-fk>
                  <th class="text-center"> # </th>
                  <th class="text-center"> Name </th>
                  <th class="text-center"> Description </th>
                  <th class="text-center"> Icon </th>
                  <th class="text-center"> Action </th>
                </tr>
              </thead>
              <tbody>
                @foreach (var item in Model.Items) {
                  <tr>
                    <td class="text-center"> @(++order) </td>
                    <td class="text-center"> @item.Name </td>
                    <td class="text-center"> @item.Description </td>
                    <td class="text-center">
                      <img src="@item.IconLink" alt="image" style="width: 100px; height: 100px;">
                    </td>
                    <td class="text-center">
                      <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning mr-3">Edit</a>
                      <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger delete-btn">Delete</a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mx-auto">
          @Html.Partial("_PaginatedListPartial", Model)
        </div>
      </div>
    </div>
  </div>
</div>

@section scripts {
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="~/assets/js/custom/alert.js"></script>
}