@model List<OrderResponse>
@{
  string GetStyle(OrderStatus status) {
    return status switch {
      OrderStatus.Accepted => "badge badge-outline-success",
      OrderStatus.Pending => "badge badge-outline-warning",
      OrderStatus.Rejected => "badge badge-outline-danger",
      OrderStatus.Canceled => "badge badge-outline-danger",
      OrderStatus.Completed => "badge badge-outline-success",
      _ => "badge badge-outline-primary"
    };
  }
}

<div class="row mt-5">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Orders</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th> Client Name </th>
                <th> Order No </th>
                <th> Order Price </th>
                <th> Order Address </th>
                <th> Order Date </th>
                <th> Order Status </th>
                <th> Order Action </th>
              </tr>
            </thead>
            <tbody>
              @foreach (var order in Model) {
                <tr>
                  <td>
                    <img src="@order.AppUserAvatarLink" alt="image" />
                    <span class="pl-2">@order.AppUserUserName</span>
                  </td>
                  <td> @order.Id </td>
                  <td> $@order.Price </td>
                  <td> @order.Address </td>
                  <td> @order.CreatedAt.Date.ToShortDateString() </td>
                  <td>
                    <div class="badge @GetStyle(order.Status)">@order.Status.ToString()</div>
                  </td>
                  <td>
                    <a asp-action="UpdateOrderStatus" asp-route-id="@order.Id" asp-route-status="Accepted" asp-route-userId="@order.AppUserId" class='btn btn-success mr-3 @(order.Status.ToString() != "Pending" ? "disabled" : "")'>Accept</a>
                    <a asp-action="UpdateOrderStatus" asp-route-id="@order.Id" asp-route-status="Rejected" asp-route-userId="@order.AppUserId" class='btn btn-danger @(order.Status.ToString() != "Pending" ? "disabled" : "")'>Reject</a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>